Imports

In [1]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

Prep Input and Output Parameters

In [67]:
## Paths Input Here
base_dir = r'/Users/cu135/Dropbox (Partners HealthCare)/resources/datasets/BIDS_PD_DBS_STN_WURZBURG/neuroimaging_analyses'
#----------------------------------------------------------------DO NOT TOUCH----------------------------------------------------------------
analysis = fr"<subject_id>/ses-01/single_subject_atrophy"
out_dir = os.path.join(base_dir, analysis)
print('I will save each file to: \n', out_dir)

I will save each file to:
 /Users/cu135/Dropbox (Partners HealthCare)/resources/datasets/BIDS_PD_DBS_STN_WURZBURG/neuroimaging_analyses/<subject_id>/ses-01/single_subject_atrophy

Extract Atrophy Within Region of Interest

___

## Neuroimaging File Extraction

Here's a breakdown of the inputs:

### 0. Base Directorty (CSF)
- **base_directory**: Absolute path to the base directory containing CSF files.

### 1. Cerebrospinal Fluid (CSF)
- **glob_name_pattern**: File pattern to search for CSF files.

### 2. Grey Matter
- **glob_name_pattern**: File pattern to search for grey matter files.

### 3. White Matter
- **glob_name_pattern**: File pattern to search for white matter files.

---

**Instructions**: Please fill out the `base_directory` and `glob_name_pattern` fields for each segment. This will ensure that the extraction process can locate and identify the appropriate neuroimaging files for further analysis.

---

In [42]:
# Shared Base Directory
base_directory = r'/Users/cu135/Dropbox (Partners HealthCare)/resources/datasets/BIDS_PD_DBS_STN_WURZBURG/z_scored_segments'

# Shared Glob Path
shared_glob_path = r'*/*/grey_matter'

# Just the name of the tissue in the shared_glob_path directory as it appears in the directory (grey_matter, composite, etc)
tissue_to_import = ['generated_nifti']

In [45]:
def import_dataframes_by_tissue(base_directory, shared_glob_path, tissue_to_import):
    """
    Imports dataframes based on tissue types from specified directories and glob name patterns.
    
    Parameters:
    - base_directory (str): The base directory where the data resides.
    - shared_glob_path (str): The shared directory path for all tissues.
    - tissue_to_import (list): List of tissues to be imported.
    
    Returns:
    - dict: A dictionary containing dataframes for each specified tissue.
    """
    
    from calvin_utils.file_utils.import_matrices import import_matrices_from_folder

    segments_dict = {}
    for tissue in tissue_to_import:
        glob_path = os.path.join(shared_glob_path, ('*'+tissue+'*'))
        segments_dict[tissue] = glob_path

    dataframes_dict = {}
    nan_handler = {'nan': 0, 'posinf':20, 'neginf':-20}
    for k, v in segments_dict.items():
        dataframes_dict[k] = import_matrices_from_folder(connectivity_path=base_directory, file_pattern=v, convert_nan_to_num=nan_handler)
        print(f'Imported data {k} data with {dataframes_dict[k].shape[0]} voxels and {dataframes_dict[k].shape[1]} patients')
        print(f'Example filename per subject: {dataframes_dict[k].columns[0]}')
        print('\n--------------------------------\n')

    return dataframes_dict

In [46]:
imported_dataframes_by_tissue = import_dataframes_by_tissue(base_directory, shared_glob_path, tissue_to_import)

I will search:  /Users/cu135/Dropbox (Partners HealthCare)/resources/datasets/BIDS_PD_DBS_STN_WURZBURG/z_scored_segments/*/*/grey_matter/*generated_nifti*
Imported data generated_nifti data with 902629 voxels and 33 patients
Example filename per subject: sub-13_generated_nifti.nii

--------------------------------

**Extract Subject ID From File Names**
Using the example filenames that have been printed above, please define a general string:
1) Preceding the subject ID.
2) Proceeding the subject ID.

In [47]:
def rename_dataframe_subjects(dataframes_dict, preceding_id, proceeding_id):
    """
    Renames the subjects in the provided dataframes based on the split commands.

    Parameters:
    - dataframes_dict (dict): A dictionary containing dataframes with subjects to be renamed.
    - preceding_id (str): The delimiter for taking the part after the split.
    - proceeding_id (str): The delimiter for taking the part before the split.

    Returns:
    - dict: A dictionary containing dataframes with subjects renamed.
    """
    
    from calvin_utils.file_utils.dataframe_utilities import extract_and_rename_subject_id

    split_command_dict = {preceding_id: 1, proceeding_id: 0}
    
    for k, v in dataframes_dict.items():
        dataframes_dict[k] = extract_and_rename_subject_id(dataframe=dataframes_dict[k], split_command_dict=split_command_dict)
        print('Dataframe: ', k)
        display(dataframes_dict[k])
        print('------------- \n')

    return dataframes_dict

In [48]:
preceding_id = 'sub-'
proceeding_id = '_'

In [49]:
thresholded_atrophy_df_dict = rename_dataframe_subjects(imported_dataframes_by_tissue, preceding_id, proceeding_id)

Dataframe:  generated_nifti

,13,14,22,25,23,15,12,30,08,37,...,27,18,11,16,29,33,05,02,03,04
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902624,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902626,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
902628,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

-------------

# Extract Region of Interest Atrophy

Import Region of Interest Masks

In [50]:
folder_to_import_from = '/Users/cu135/Dropbox (Partners HealthCare)/resources/mni_spaces/6th_gen/'
shared_glob_pattern = 'MNI152_T1_2mm_brain_mask.nii'

In [51]:
from calvin_utils.file_utils.import_matrices import import_matrices_from_folder
region_of_interest_df = import_matrices_from_folder(connectivity_path=folder_to_import_from, file_pattern=shared_glob_pattern)
region_of_interest_df

I will search:  /Users/cu135/Dropbox (Partners HealthCare)/resources/mni_spaces/6th_gen/MNI152_T1_2mm_brain_mask.nii

        MNI152_T1_2mm_brain_mask.nii
0                                0.0
1                                0.0
2                                0.0
3                                0.0
4                                0.0
...                              ...
902624                           0.0
902625                           0.0
902626                           0.0
902627                           0.0
902628                           0.0

[902629 rows x 1 columns]

Extract Damage Scores Per Region of Interest

In [52]:
def calculate_damage_scores(thresholded_atrophy_df_dict, region_of_interest_df):
    """
    Calculates damage scores for each region of interest based on thresholded atrophy data.
    
    Parameters:
    - thresholded_atrophy_df_dict (dict): Dictionary containing dataframes with thresholded atrophy data.
    - region_of_interest_df (DataFrame): DataFrame containing regions of interest.
    
    Returns:
    - dict: A dictionary containing damage scores for each region of interest for each patient.
    """
    
    damage_df_dict = {}
    
    for k, v in thresholded_atrophy_df_dict.items():
        
        # Initialize the Dataframe
        damage_df_dict[k] = pd.DataFrame(index=v.columns, columns=region_of_interest_df.columns)
        
        # Iterate Over Each Region of Interest
        for matrix in damage_df_dict[k].columns:
            # Extract Damage Score for Each Patient
            for subject in damage_df_dict[k].index:
                # Mask the subject dataframe to the matrix at hand
                intersection = v[subject].where(region_of_interest_df[matrix] > 0, 0)
                
                # Weight the overlapping components by multiplication
                weighted_overlap = intersection * region_of_interest_df[matrix]
                
                # Assess overall damage score
                damage_score = weighted_overlap.sum()
                damage_df_dict[k].loc[subject, matrix] = damage_score
                
        print('Dataframe: ', k)
        display(damage_df_dict[k])
        print('------------- \n')
    
    return damage_df_dict

In [53]:
damage_df_dict = calculate_damage_scores(thresholded_atrophy_df_dict, region_of_interest_df)

Dataframe:  generated_nifti

   MNI152_T1_2mm_brain_mask.nii
13                317164.290693
14                300639.183178
22                239246.481446
25                198713.782646
23                136707.212507
15                 197717.06156
12                309606.016317
30                255628.319108
08                 281656.36664
37                236791.744195
01                244575.598805
06                281899.838234
07                224561.753879
09                182821.015166
36                293766.772166
31               -464763.613042
17                 259499.76809
28                351915.831815
10                295044.020919
26                243909.191652
19                279442.004083
21                239031.101393
20                215405.105954
27                204687.570475
18                146959.004229
11                192396.072162
16                252859.629955
29                177062.046937
33                 237176.34438
05                166727.936173
02                 264848.90519
03                266469.498016
04                246139.649469

-------------

Extract Total Atrophy Volume

In [54]:
def calculate_total_atrophy_voxels(thresholded_atrophy_df_dict, damage_df_dict):
    """
    Calculates the total number of atrophy voxels within a mask and updates the damage_df_dict with this information.
    
    Parameters:
    - thresholded_atrophy_df_dict (dict): Dictionary containing dataframes with thresholded atrophy data.
    - damage_df_dict (dict): Dictionary containing dataframes to which the 'Total Atrophy Voxels' column will be added.
    
    Returns:
    - dict: The updated damage_df_dict with a new column 'Total Atrophy Voxels'.
    """
    
    import numpy as np
    from nimlab import datasets as nimds
    
    # Get the mask and brain indices
    mni_mask = nimds.get_img("mni_icbm152")
    mask_data = mni_mask.get_fdata().flatten()
    brain_indices = np.where(mask_data > 0)[0]
    
    for k, v in thresholded_atrophy_df_dict.items():
        # initialize the column
        damage_df_dict[k]['Total Atrophy Voxels'] = np.nan
        for patient_id in v.columns:
            # Filter the dataframe using brain indices
            filtered_df = v[patient_id].iloc[brain_indices]
            damage_df_dict[k].loc[patient_id, 'Total Atrophy Voxels'] = np.count_nonzero(filtered_df)
        
        print('Dataframe: ', k)
        display(damage_df_dict[k])
        print('------------- \n')
    
    return damage_df_dict

In [55]:
damage_df_dict = calculate_total_atrophy_voxels(thresholded_atrophy_df_dict, damage_df_dict)

Dataframe:  generated_nifti

   MNI152_T1_2mm_brain_mask.nii  Total Atrophy Voxels
13                317164.290693              189625.0
14                300639.183178              189113.0
22                239246.481446              187800.0
25                198713.782646              189145.0
23                136707.212507              189420.0
15                 197717.06156              188424.0
12                309606.016317              189259.0
30                255628.319108              190209.0
08                 281656.36664              189238.0
37                236791.744195              189611.0
01                244575.598805              189759.0
06                281899.838234              189641.0
07                224561.753879              189962.0
09                182821.015166              188604.0
36                293766.772166              189619.0
31               -464763.613042              187951.0
17                 259499.76809              191522.0
28                351915.831815              189611.0
10                295044.020919              189704.0
26                243909.191652              189106.0
19                279442.004083              188892.0
21                239031.101393              189671.0
20                215405.105954              188962.0
27                204687.570475              187762.0
18                146959.004229              188340.0
11                192396.072162              189362.0
16                252859.629955              189447.0
29                177062.046937              187741.0
33                 237176.34438              189163.0
05                166727.936173              188575.0
02                 264848.90519              189147.0
03                266469.498016              189323.0
04                246139.649469              187959.0

-------------

Organize the Subjects

In [56]:
def sort_dataframes_by_index(damage_df_dict):
    """
    Attempts to convert the index of each dataframe in damage_df_dict to integers 
    and then sorts the dataframe by its index in ascending order.
    
    Parameters:
    - damage_df_dict (dict): Dictionary containing dataframes to be sorted.
    
    Returns:
    - dict: The sorted damage_df_dict.
    """
    
    sorted_df_dict = {}
    
    for k, df in damage_df_dict.items():
        try:
            # Convert index to integers
            df.index = df.index.astype(int)
            
            # Sort dataframe by index
            sorted_df = df.sort_index(ascending=True)
            sorted_df_dict[k] = sorted_df
            
            # Display the results
            print('Dataframe: ', k)
            display(sorted_df)
            print('------------- \n')
            
        except ValueError:
            # If conversion to integer fails, just use the original dataframe
            sorted_df_dict[k] = df

    return sorted_df_dict

In [57]:
sorted_damage_df_dict = sort_dataframes_by_index(damage_df_dict)

Dataframe:  generated_nifti

   MNI152_T1_2mm_brain_mask.nii  Total Atrophy Voxels
1                 244575.598805              189759.0
2                  264848.90519              189147.0
3                 266469.498016              189323.0
4                 246139.649469              187959.0
5                 166727.936173              188575.0
6                 281899.838234              189641.0
7                 224561.753879              189962.0
8                  281656.36664              189238.0
9                 182821.015166              188604.0
10                295044.020919              189704.0
11                192396.072162              189362.0
12                309606.016317              189259.0
13                317164.290693              189625.0
14                300639.183178              189113.0
15                 197717.06156              188424.0
16                252859.629955              189447.0
17                 259499.76809              191522.0
18                146959.004229              188340.0
19                279442.004083              188892.0
20                215405.105954              188962.0
21                239031.101393              189671.0
22                239246.481446              187800.0
23                136707.212507              189420.0
25                198713.782646              189145.0
26                243909.191652              189106.0
27                204687.570475              187762.0
28                351915.831815              189611.0
29                177062.046937              187741.0
30                255628.319108              190209.0
31               -464763.613042              187951.0
33                 237176.34438              189163.0
36                293766.772166              189619.0
37                236791.744195              189611.0

-------------

Save the Results

In [58]:
import os
from calvin_utils.nifti_utils.generate_nifti import view_and_save_nifti
from tqdm import tqdm

def save_csv_to_bids(dataframes_dict, bids_base_dir, analysis='atrophy_results', ses=None, dry_run=True):
    """
    Saves csv to a BIDS directory structure.
    
    Parameters:
    - dataframes_dict (dict): Dictionary containing dataframes with NIFTI data.
    - bids_base_dir (str): The base directory where the BIDS structure starts.
    - ses (str, optional): Session identifier. If None, defaults to '01'.
    
    Note:
    This function assumes a predefined BIDS directory structure and saves the CSV 
    accordingly.
    """
    
    for key, value in tqdm(dataframes_dict.items()):            
        # Define BIDS Directory Architecture
        sub_no = 'all'
        if ses is None:
            ses_no = '01'
        else:
            ses_no = ses
        
        # Define and Initialize the Save Directory
        out_dir = os.path.join(bids_base_dir, 'neuroimaging_analyses', f'ses-{ses_no}', f'sub-{sub_no}', analysis)
        os.makedirs(out_dir, exist_ok=True)
        
        # Save Image to BIDS Directory
        if dry_run:
            print(out_dir+f'/{key}.csv')
        else:
            value.to_csv(out_dir+f'/{key}.csv')
            print('Saved to: ', out_dir+f'/{key}.csv')

In [68]:
bids_base_dir = base_dir
analysis='whole_brain_mask_atrophy_results'

In [69]:
save_csv_to_bids(sorted_damage_df_dict, bids_base_dir, analysis, ses=None, dry_run=False)

100%|██████████| 1/1 [00:00<00:00, 444.03it/s]

Saved to:  /Users/cu135/Dropbox (Partners HealthCare)/resources/datasets/BIDS_PD_DBS_STN_WURZBURG/neuroimaging_analyses/neuroimaging_analyses/ses-01/sub-all/whole_brain_mask_atrophy_results/generated_nifti.csv

All done. Enjoy your analyses. 

--Calvin