In [14]:
prepared_data_csv_path = r'/Volumes/One Touch/resources/adni/metadata/information/demographics.csv'

In [15]:
import pandas as pd

df = pd.read_csv(prepared_data_csv_path)
display(df)

,Phase,ID,PTID,RID,SITEID,VISCODE,VISCODE2,Sex,Age,VISDATE,...,PTHOME,PTTLANG,PTPLANG,PTCOGBEG,PTMCIBEG,PTADBEG,PTADDX,PTETHCAT,PTRACCAT,update_stamp
0,ADNI1,18,011_S_0002,2,107,sc,sc,M,74.430137,8/17/05,...,1.0,1.0,1.0,NaN,NaN,-4.0,NaN,2.0,5.0,00:00.0
1,ADNI1,20,022_S_0001,1,10,f,f,F,60.753425,8/18/05,...,1.0,-4.0,-4.0,NaN,NaN,-4.0,NaN,-4.0,-4.0,00:00.0
2,ADNI1,22,011_S_0003,3,107,sc,sc,M,81.353425,8/18/05,...,3.0,1.0,1.0,NaN,NaN,1999.0,NaN,2.0,5.0,00:00.0
3,ADNI1,24,022_S_0004,4,10,sc,sc,M,67.673973,8/18/05,...,1.0,2.0,2.0,NaN,NaN,-4.0,NaN,1.0,5.0,00:00.0
4,ADNI1,26,011_S_0005,5,107,sc,sc,M,73.778082,8/23/05,...,1.0,1.0,1.0,NaN,NaN,-4.0,NaN,2.0,5.0,00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4852,ADNI3,173667,035_S_7123,7123,25,sc,sc,F,80.298630,2/28/23,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,6.0,21:42.0
4853,ADNI3,174793,082_S_7122,7122,37,sc,sc,F,67.342466,2/17/23,...,1.0,1.0,1.0,9999.0,NaN,NaN,9999.0,2.0,4.0,21:18.0
4854,ADNI3,175192,013_S_7124,7124,10,sc,sc,M,56.671233,4/20/23,...,1.0,1.0,1.0,2022.0,NaN,NaN,9999.0,1.0,7.0,21:29.0
4855,ADNI3,176485,123_S_7125,7125,45,sc,sc,F,74.887671,5/3/23,...,1.0,1.0,1.0,2020.0,NaN,NaN,9999.0,2.0,5.0,24:18.0
4856,ADNI3,178468,003_S_6972,6972,2,sc,sc,F,66.791781,6/30/21,...,1.0,1.0,1.0,2018.0,NaN,NaN,9999.0,1.0,6.0,25:17.0

Generate a Series to mask By

In [19]:
import os

directory = "/Volumes/One Touch/resources/adni/neuroimaging/true_control/freesurfer_reconall_sbm"
mask_list = [os.path.basename(f.path) for f in os.scandir(directory) if f.is_dir()]

print(mask_list)

['130_S_4352', '153_S_4151', '082_S_4090', '009_S_4612', '073_S_4382', '018_S_4399', '137_S_4466', '128_S_4832', '136_S_4269', '116_S_4483', '023_S_4164', '019_S_4367', '099_S_4086', '036_S_4491', '006_S_4150', '013_S_4579', '128_S_4586', '041_S_4014', '023_S_4020', '006_S_4485', '012_S_4545', '006_S_4449', '033_S_4508', '941_S_4100', '031_S_4474', '031_S_4021', '018_S_4400', '009_S_4388', '041_S_4037', '031_S_4032', '082_S_4339', '033_S_4176', '032_S_4348', '014_S_4401', '011_S_4278', '018_S_4257', '011_S_4075', '022_S_4266', '033_S_4179', '011_S_4222', '024_S_4158', '033_S_4177', '037_S_4028', '941_S_4255', '018_S_4349', '024_S_4084', '073_S_4762', '073_S_5023', '018_S_4313', '073_S_4559', '012_S_4643', '135_S_4598', '941_S_4066', '073_S_4739', '116_S_4453', '022_S_4173', '037_S_4410', '070_S_4856', '153_S_4139', '011_S_4120', '082_S_4208', '100_S_4469', '123_S_4362', '136_S_4433', '032_S_4277', '137_S_4632', '099_S_4076', '116_S_4043', '006_S_4357', '010_S_4345', '022_S_4196', '128_S_4607', '032_S_4429', '116_S_4010', '128_S_4609', '002_S_4264', '035_S_4464', '031_S_4218', '137_S_4587', '041_S_4427', '137_S_4520', '036_S_4389', '013_S_4580', '009_S_4337', '099_S_4104', '941_S_4365', '002_S_4262', '023_S_4448', '068_S_4424', '014_S_4080', '033_S_4505', '041_S_4060', '010_S_4442', '019_S_4835', '002_S_4225', '002_S_4213', '128_S_4599', '941_S_4376', '037_S_4308', '014_S_4093', '022_S_4291', '032_S_4386', '035_S_4082', '002_S_4270', '135_S_4446', '041_S_4200', '031_S_4496', '032_S_4921', '070_S_5040', '037_S_4071', '153_S_4372', '073_S_4795', '072_S_4103', '130_S_4343', '014_S_4577', '153_S_4125', '068_S_4174', '073_S_4393', '073_S_4155', '116_S_4092', '072_S_4391', '013_S_4616', '082_S_4224', '014_S_4576', '073_S_4552', '011_S_4105', '036_S_4878', '012_S_4026', '082_S_4428', '941_S_4292', '022_S_4320', '068_S_4340', '137_S_4482', '135_S_4566', '053_S_4578', '116_S_4855']

Select Rows

In [20]:
df = df[df['PTID'].isin(mask_list)]
df
df.to_csv('/Users/cu135/Dropbox (Partners HealthCare)/studies/atrophy_seeds_2023/metadata/control_demographics.csv')

Select Columns

In [ ]:
df = df.loc[:, ['record_id', 'Subject', 'neurologist', 'surgeon', 'condition', 'stimulation_site', 'surgical_date', 'medical_record_number', 'first_name', 'last_names']]
df

In [ ]:
df.to_csv('/Volumes/One Touch/BWH_PD_DBS_MixedTarget/study_metadata/target_list.csv')

Split Orders

In [ ]:
df['Subject'] = df['Subject'].apply(lambda x: x.split('CbctDbs')[1]) #.split('__sim-binary_')[0])
display(df)

save Results

In [ ]:
df.to_csv(prepared_data_csv_path, index=False)