# 01 - Import the Nifti Files

In [7]:
from calvin_utils.file_utils.import_matrices import import_matrices_from_csv
data_df = import_matrices_from_csv('/Users/cu135/Dropbox (Partners HealthCare)/studies/ccm_memory/metadata/path_to_t_maps.csv')
data_df

        Lesions Causing Amnesia.nii
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
902624                          NaN
902625                          NaN
902626                          NaN
902627                          NaN
902628                          NaN

[902629 rows x 1 columns]

# 02 - Mask the Nifti Files

In [8]:
from calvin_utils.nifti_utils.matrix_utilities import apply_mask_to_dataframe
data_df = apply_mask_to_dataframe(data_df, mask_path=None)
data_df

        Lesions Causing Amnesia.nii
93491                      2.878096
93492                      2.606874
93493                      2.212765
93582                      3.029796
93583                      2.778456
...                             ...
798193                     4.865715
798281                     5.956623
798282                     5.565621
798283                     5.290926
798373                     5.869304

[225222 rows x 1 columns]

# 03 - Convert T to Z Scores

In [9]:
from calvin_utils.nifti_utils.matrix_utilities import convert_dataframe_t_to_z
data_df = convert_dataframe_t_to_z(data_df, sample_size=53)
data_df

        Lesions Causing Amnesia.nii
0                          2.759288
1                          2.515252
2                          2.152879
3                          2.893771
4                          2.670164
...                             ...
225217                     4.396579
225218                     5.177053
225219                     4.906795
225220                     4.710642
225221                     5.117599

[225222 rows x 1 columns]

# 04 - Unmask the Dataframe

In [10]:
from calvin_utils.nifti_utils.matrix_utilities import unmask_matrix_v2
data_df = unmask_matrix_v2(df_1=data_df, mask_path=None)
data_df

Data has been unmasked to shape: (902629, 1)

        Lesions Causing Amnesia.nii
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
902624                          NaN
902625                          NaN
902626                          NaN
902627                          NaN
902628                          NaN

[902629 rows x 1 columns]

# 05 - Handle NaNs (Optional)

In [11]:
# Create a one-liner to perform the same operation
from calvin_utils.nifti_utils.matrix_utilities import handle_special_values
data_df = handle_special_values(data_df)
print('Max vals post-nan handling: \n', data_df.max())
print('\n Min vals post-nan handling: \n', data_df.min())
data_df

Max vals post-nan handling:
 Lesions Causing Amnesia.nii    6.449923
dtype: float64

 Min vals post-nan handling:
 Lesions Causing Amnesia.nii   -7.751356
dtype: float64

        Lesions Causing Amnesia.nii
0                               0.0
1                               0.0
2                               0.0
3                               0.0
4                               0.0
...                             ...
902624                          0.0
902625                          0.0
902626                          0.0
902627                          0.0
902628                          0.0

[902629 rows x 1 columns]

# 06 - Save the Fisher Z Transformed Nifti Files

out_dir vs use_colnames_as_paths

- use_colnames_as_paths: Uses DataFrame column names as save paths for NIfTI files.
- Use out_dir for uniform storage. Use use_colnames_as_paths for custom, per-file storage paths. Assumes each column name is a full path.

In [12]:
from calvin_utils.nifti_utils.generate_nifti import NiftiDataFrameHandler
# Initialize the object
handler = NiftiDataFrameHandler(data_df, 
                                out_dir="/Users/cu135/Dropbox (Partners HealthCare)/studies/ccm_memory/neuroimaging/derivatives/memory_maps/rFz", 
                                use_colnames_as_paths=False)

# Run the pipeline
handler.run()

Image saved to:
 /Users/cu135/Dropbox (Partners HealthCare)/studies/ccm_memory/neuroimaging/derivatives/memory_maps/rFz
NIfTI file saved at: /Users/cu135/Dropbox (Partners HealthCare)/studies/ccm_memory/neuroimaging/derivatives/memory_maps/rFz/LesionsCausingAmnesia.nii

Your Files have been Z transformed and saved.
Enjoy.

--Calvin